
body {
    background-color: #f4f7f6;
    height: 100 vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.auth-container {
    background: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 400px; 
}

.auth-container h2 {
    text-align: center;
    color:#000;
    margin-bottom: 30px;
}


.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 8px;
    color: #666;
    font-weight: 600;
}

.input-group input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 6px;
    outline: none;
    transition: border-color 0.3s; 
}


.input-group input:focus {
    border-color: #ae27a3; 
}


button[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: #ae27a9;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
}

button[type="submit"]:hover {
    background-color: #912175;
}


p {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #777;
}

p a {
    color: #ae2793;
    text-decoration: none;
    font-weight: bold;
}  